html,body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
}
.nav-container{
    width: 100%;
}
.nav{
    width: 1280px;
    display: flex;
}
.item-1 p{
    font-size: 27.34px;
    margin: 26.29px 0px 26.27px 7px;
    
}

.item-1{
    width: 600px;
    display: flex;
    justify-content: start;
}
.item-1 img{
    width: 56.09px;
    height: 30px;
    margin: 33px 0px 17px 60px;
    
}
.item-2{
    width: 600px;
    display: flex;
    justify-content: center;
}

.item-2 p{
    height: 14px;
    margin: 33px 24px 33px 0px;
}
.item-2 .nav_tag{
    border: 1px solid #212529;
    background-color: #fff;
    height: 30px;
    font-size: 13px;
    width: 84px;
    margin: 25px 24px 25px 0px;
    border-radius: 3px;
}
.item-2 .msg{
    width: 19px;
    height: 15px;
    margin: 32.5px 27.5px 32.5px 0px;
}
.item-2 .bell{
    width: 18px;
    height: 20px;
    margin: 30px 26px 30px 0px;
}
.item-2 .people{
    width: 22px;
    height: 22px;
    margin: 30px 26px 30px 0px;
}
.manage_list{
    background-color: rgb(235, 247, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.manage_list_heading{
    width: 800px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.manage_list_heading p{
    font-size: 30px;
    font-weight: 700;
    height: 30px;
    width: 240px;
    margin: 72px 0px 64px 0px;
}
.manage_list_body{
    width: 800px;
    margin: auto;
}
.manage_card{
    height: 212px;
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 40px;
    border: 3px solid #fff;
}

.manage_card_image img{
    height: 212px;
    width: 282px;
}
.manage_card_description{
    height: 192px;
    width: 498px;
    padding: 20px;
}
.des_head{
    height: 23px;
    display: flex;
    align-items: center;
}
.des_head .des_head_tag{
    width: 53px;
    line-height: 23px;
    font-size: 11px;
    text-align: center;
    margin-right: 8px;
    border-radius: 2px;
    background-color: #E03066;
    color: #fff;
}
.manage_card_description .des_head button{
    width: 119px;
    height: 23px;
    font-size: 11px;
    border-radius: 2px;
    margin-right: 199px;
    border: 1px solid #E03066;
    background-color: #fff;
    color: #E03066;
}
.des_head .des_head_date{
    width: 91px;
    height: 11px;
    font-size: 11px;
}
.des_location{
    display: flex;
    
}
.manage_card_description .des_location p{
    display: flex;
    font-size: 12px;
    margin: 27px 16px 12px 0px;
}
.manage_card_description .des_description{
    font-weight: bold;
    font-size: 15px;
    margin: 0px 0px 12px 0px;
}
.manage_card_description button{
    width: 308px;
    height: 36px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    float: right;
    font-weight: bold;
}

.card-select{
    border: 3px solid green;
    border-radius: 5px;

}

